@import '../../../styles/settings.scss';

 .root {
   background: #eee;
   min-height: 100vh;
   padding-top: 4rem;
   .paper {
     display: flex;
     flex-grow: 1;
     flex-direction: column;
     margin: 2rem;
     padding: 2rem 4rem;
   }
 }
